 body {
   font-family: 'Merriweather', serif;
 }

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 5%;
}

.bg-custom {
    background-color: #c72c41;
}
