 body {
   font-family: 'Merriweather', serif;
 }

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 5%;
}

.bg-custom {

}

.color-me{
    color:white;
}

.navbar {
  margin-bottom: 1rem;
}

.navbar-brand {
  font-weight:700;
}

.nav-item {
  padding: 0 1rem;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: #c72c41;
}


.imgresize {
  position: relative;
  bottom: 10px;
  left: 20px;
}

.container-fluid {
  padding: 0 10%;
}

.spacingplease {
  padding: 0 2%;
}

.addpadding {
  padding: 1%
}
