/* Header */
#title {
  margin-bottom: 2.5rem;
}

/*  Navbar  */
.nav-item {
  padding: 0.25rem 2rem;
  font-size: 1.2rem;
  text-align: center;
}
/* .navbar {
  margin-bottom: 1.25rem;
} */

/* General considerations */
body {
  font-family: 'Merriweather', serif;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: #c72c41;
}


/* Bio Section */
.titlename {
  margin-top: 1.5rem;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
}

.justify {
  text-align: justify;
}

div.heading a {
  padding: 1%;
}

.img-fluid {
  max-width: 40%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 1px;
  width: 5%;
}

/* Projects section */
.mid_heading {
  text-align: center;
  margin: 2rem 0 0 0;
}

/*  Carrousel */
.carousel-indicators li {
  background-color: darkgrey;
}

.carousel-indicators .active {
  background-color: black;
}

.carousel-indicators {
  position: absolute;
  bottom: 10%;
}

.item_card {
  text-align: center;
  height: 310px;
}

.card-header {
  font-weight: 600;
}

.carousel-item {
  padding: 7% 15%;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

/* Footer section */
#footer {
  font-family: sans-serif;
  color: black;
  text-align: center;
  margin-top: 4rem;
}

.spacing {
  margin: 1rem 1rem 1rem auto ;
}
